.page-buttons-container {
  display: flex;
  justify-content: space-around;
}
.page-button {
  border: none;
  border-radius: 10px;
  background-color: white;
  height: 35px;
  width: 80px;
  font-size: 15px;
  font-weight: 600;
  justify-content: space-between;
  transition: transform 0.3s;
  position: relative;
}
.page-button:hover {
  transform: translateY(-10px) scale(1.05);
}
ul {
  list-style-type: none;
}
.page-button:active {
  outline: none;
  transform: translateY(-1px);
}
.page-link {
  display: flex;
  color: #004ac7;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 30px;
}
li {
  list-style-type: none;
}
